.certs/
.classpath
.DS_Store
.env
.factorypath
.flattened-pom.xml
.idea
.junie
.project
.settings/
.vscode
*.bak
*.iml
*.ipr
*.iws
*.orig
*.rej
*.swo
*.swp
/.quarkus/cli/plugins/
bin/
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
