{#include base showYearFilter=true}
    <h1 class="title">Details</h1>
    <section class="f-switch">
        <div class="box">
            <h2 class="title is-4">Details</h2>

            <div id="fitResponses">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th class="sortable">Name <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Date <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Distance <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Duration <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Total ascent <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Average Speed <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Temperature <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Rating <span class="arrow">↑↓</span></th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {#for entry in data}
                        <tr class="clickable-row" data-id="{entry.id}">
                            <td>{entry.displayName}</td>
                            <td class="has-text-centered">{entry.date}</td>
                            <td class="has-text-centered">{entry.distance}</td>
                            <td class="has-text-centered">{entry.duration}</td>
                            <td class="has-text-centered">{entry.totalAscent}</td>
                            <td class="has-text-centered">{entry.avgSpeed}</td>
                            <td class="has-text-centered">{entry.temperature}</td>
                            <td class="has-text-centered">
                                <div class="rating" data-id="{entry.id}" data-rate="{entry.rate}">
                                    <i class="fas fa-star {#if entry.rate >= 5}active{/if}" data-value="5"></i>
                                    <i class="fas fa-star {#if entry.rate >= 4}active{/if}" data-value="4"></i>
                                    <i class="fas fa-star {#if entry.rate >= 3}active{/if}" data-value="3"></i>
                                    <i class="fas fa-star {#if entry.rate >= 2}active{/if}" data-value="2"></i>
                                    <i class="fas fa-star {#if entry.rate >= 1}active{/if}" data-value="1"></i>
                                </div>
                            </td>
                            <td class="has-text-centered">
                                <button class="button is-small is-danger is-outlined delete-route" title="Delete Route" data-id="{entry.id}">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </button>
                                <button class="button is-small is-info is-outlined recalculate-route" title="Recalculate Route" data-id="{entry.id}">
                                    <span class="icon is-small">
                                        <i class="fas fa-sync"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        {/for}
                    </tbody>
                </table>
            </div>
            <script src="/arrow-toggler.js" defer></script>

            <section class="section">
                <h2 class="title is-4">Route</h2>

                <div class="box">
                    <div id="map"></div>

                    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="/altitude.js" defer></script>
                    <script src="/map.js" defer></script>
                    <script src="/modal.js" defer></script>
                    <script src="/rating.js" defer></script>
                </div>

                <h2 class="title is-4">Altitude Profile</h2>
                <div class="box" style="height: 200px;">
                    <canvas id="altitudeChart"></canvas>
                </div>
            </section>
        </div>
    </section>

    <div id="confirmModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="confirmModalTitle">Confirm Action</p>
                <button class="delete" aria-label="close" id="closeModal"></button>
            </header>
            <section class="modal-card-body">
                <p id="confirmModalMessage">Are you sure you want to proceed?</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="confirmModalAction">Confirm</button>
                <button class="button" id="cancelModal">Cancel</button>
            </footer>
        </div>
    </div>
{/include}
