{#include base}
    <h1 class="title">Details</h1>
    <div class="columns">
        <div class="column is-3">
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select id="yearFilter">
                            <option value="2026">2026</option>
                            <option value="2025">2025</option>
                            <option value="2024">2024</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="f-switch">
        <div class="box">
            <h2 class="title is-4">Details</h2>

            <div id="fitResponses">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th class="sortable">Name <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Date <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Distance <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Duration <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Total ascent <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Average Speed <span class="arrow">↑↓</span></th>
                            <th class="sortable has-text-centered">Temperature <span class="arrow">↑↓</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        {#for entry in data}
                        <tr class="clickable-row" data-id="{entry.id}">
                            <td>{entry.displayName}</td>
                            <td class="has-text-centered">{entry.date}</td>
                            <td class="has-text-centered">{entry.distance}</td>
                            <td class="has-text-centered">{entry.duration}</td>
                            <td class="has-text-centered">{entry.totalAscent}</td>
                            <td class="has-text-centered">{entry.avgSpeed}</td>
                            <td class="has-text-centered">{entry.temperature}</td>
                        </tr>
                        {/for}
                    </tbody>
                </table>
            </div>
            <script src="/arrow-toggler.js" defer></script>

            <section class="section">
                <h2 class="title is-4">Route</h2>

                <div class="box">
                    <div id="map"></div>

                    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
                    <script src="/map.js" defer></script>
                </div>
            </section>
        </div>
    </section>
{/include}
