{#include base}
    <h1 class="title">Activities</h1>

    <section class="f-switch">
        <div class="box">
            <h2 class="title is-4">Summary</h2>

            <div id="summary">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-centered">Total number of rides</th>
                            <th class="has-text-centered">Total distance</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="has-text-centered">{stats.rides}</td>
                            <td class="has-text-centered">{stats.distance}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{/include}
