{#include base}
    <script>
        const dailyDates = [
            {#for entry in stats.tourDates}
                "{entry.key}",
            {/for}
        ];

        const dailyDistance = [
            {#for entry in stats.tourDates}
                {entry.value},
            {/for}
        ];

        function createBarChart(canvasId, labels, data, label, title, color, barThickness) {
            new Chart(document.getElementById(canvasId), {
                type: 'bar',
                data: {
                    labels,
                    datasets: [{
                        label,
                        data,
                        backgroundColor: color,
                        barThickness: barThickness
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: title
                        }
                    }
                }
            });
        }
    </script>
        <div class="box">
            <h2 class="title is-4">Summary</h2>

            <div id="summary">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-centered">Total number of rides</th>
                            <th class="has-text-centered">Total distance</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="has-text-centered">{stats.rides}</td>
                            <td class="has-text-centered">{stats.distance}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box">
            <h2 class="title is-4">Analysis</h2>
            <div class="charts">
                <div class="chart">
                    <div id="routesInYear">
                        <canvas id="routesInYearChart"></canvas>
                        <script>
                            createBarChart(
                                "routesInYearChart",
                                dailyDates,
                                dailyDistance,
                                'Kilometer',
                                'Distribution over time',
                                'rgba(54, 162, 235, 0.6)',
                                5
                            )
                        </script>
                    </div>
                </div>

                <div class="chart">
                    <div id="routeLength">
                        <canvas id="routeLengthChart"></canvas>
                        <script>
                            const distances = dailyDistance.filter(v => v > 0);

                            const binCount = 10;
                            const min = 0;
                            const max = 100;
                            const binSize = (max - min) / binCount;

                            const bins = new Array(binCount).fill(0).map((_, i) => ({
                                start: min + i * binSize,
                                end: min + (i + 1) * binSize,
                                count: 0
                            }));

                            distances.forEach(value => {
                                const index = Math.min(
                                    Math.floor((value - min) / binSize),
                                    binCount - 1
                                );
                                bins[index].count++;
                            });

                            const labelPerBin = bins.map(b =>
                                b.end.toFixed(1)
                            );
                            const dataPerBin = bins.map(b => b.count);

                            createBarChart(
                                "routeLengthChart",
                                labelPerBin,
                                dataPerBin,
                                '#routes',
                                'Routes per kilometer',
                                'rgba(75, 192, 192, 0.6)',
                                50
                            )
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{/include}
