{#include base showYearFilter=true}
    <h1 class="title">Statistics</h1>
    <div class="box">
        <h2 class="title is-4">Summary</h2>

        <div id="summary" class="table-container">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th class="has-text-centered">Total number of rides</th>
                        <th class="has-text-centered">Total distance</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td id="ridesCount" class="has-text-centered">{stats.rides}</td>
                        <td id="totalDistance" class="has-text-centered">{stats.distance}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <h2 class="title is-4">Analysis</h2>
        <div class="charts">
            <div class="chart">
                <div id="routesInYear" style="position: relative; height:40vh; width:100%">
                    <canvas id="routesInYearChart"></canvas>
                </div>
            </div>

            <div class="chart">
                <div id="routeLength" style="position: relative; height:40vh; width:100%">
                    <canvas id="routeLengthChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="/stats.js" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (typeof loadStatistics === 'function') {
                loadStatistics();
            }
        });
    </script>
{/include}
